html {
    font-family: Verdana, "Trebuchet MS", sans-serif; 
    font-size: 16px;
    color: #162722;
  }

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 + p {
  font-size: 1.5em;
  font-weight: bold;
  color: #F9B74E
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #507255;
}

a:visited {
  color: #507255;
}

a:focus {
  border-bottom: 1px solid;
  background: #D1EBC1;
}

a:hover {
  border-bottom: 1px solid;
  background: #D1EBC1;
}

a:active {
  background: #D1EBC1;
  color: #507255;
}

.posters {
  width: 35%;
  height: auto;
}

nav{
  background-color: #507255;
  padding: 1px;
}

nav ul{
  list-style-type: none;
  display: inline;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: white
}

nav a:link{
  color: white
}

nav a:visited{
  color: white
}

nav a:focus {
  color: black;
  border-bottom: 1px solid;
  background: #D1EBC1
}

nav a:hover {
  border-bottom: 1px solid;
  background: #507255
}

nav a:active {
  color: white;
  background: #507255
}

li a:hover { 
  background-color: #162722;
}

.nav-button{
  display: inline-block;
  color: white;
  background: #507255;
  padding: 10px 10px;
  border: 1px solid #D1EBC1
}


@media (max-width: 768px){
  nav ul{
    display: block;
  }
  nav li{
    margin: auto;
    padding: 10px;
    text-align: center;
  } 
}

@media (prefers-color-scheme: dark){
	html{
		background-color: black;
		color: white;
	}
}

@media print{
  nav{
    display: none
  }
}